{% extends 'base.html' %} {% load static %} {% block page_head %}
<style>
    .img-perfil {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 2px solid white;
        object-fit: cover;
    }
</style>
{% endblock %} {% block page %}
<div class="container-fluid bg bg-success">
    <div class="container">
        <div class="row py-4 align-items-center">
            <div class="col text-center">
                {% if usuario.image %}
                <img class="img-perfil" src="{{usuario.image}}"> {% else %}
                <img class="img-perfil" src="{% static 'perfil/vazio.jpg' %}"> {% endif %}
            </div>
            <div class="col-8 text-start">
                <h3 class="fs-1 text-light d-flex flex-column align-items-start justify-content-between">{{usuario.first_name}} {{usuario.last_name}}</h3>
                <p class="text-light d-flex flex-column" style="text-align: justify;">
                    <span class="fs-5">{{usuario.biografia}}</span>
                    <span class="bg text-dark fs-5 p-1 my-2 rounded border d-flex align-items-center justify-content-between">
                        {% if usuario.getQtdPublicacoes > 1 %} 
                            {{usuario.getQtdPublicacoes}} Publicações
                        {% else %}
                            {{usuario.getQtdPublicacoes}} Publicação
                        {% endif %}
                        <a href="" class="btn btn-light">Nova Publicação</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg bg-secondary bg-opacity-25">
    <div class="container py-4">
        <div class="titulo w-100 py-3 d-flex align-items-start flex-column">
            <h3 class="fs-3 py-1 my-0 text-success" style="font-family: fantasy; letter-spacing: 1.5px;">Posts de {{usuario.first_name}}</h3>
            <div class="linha w-50 bg bg-success" style="height: 2px;"></div>
        </div>
        <div class="row py-2 align-items-center">
            {% for p in myposts %}
            <div class="col">
                <div class="card" style="width: 18rem; border-radius: 15px; height: 400px;">
                    {% if p.image %}
                    <img src="{{p.image}}" class="card-img-top" style="border-radius: 15px 15px 0px 0px;"> {% else %}
                    <img src="{% static 'imagens/capa_padrao.png' %}" class="card-img-top" style="border-radius: 15px 15px 0px 0px;"> {% endif %}
                    <div class="card-body d-flex flex-column align-items-start justify-content-around">
                        <h5 class="card-title">{{p.titulo}}</h5>
                        <p class="card-text m-0">
                            <b class="m-0 p-0"><i class="bi bi-person-square"></i> @{{p.autor}}</b>
                            <p class="m-0 p-0">
                                {% if p.status == "0" %}
                                <i class="bi bi-check-circle"></i> {% elif p.status == "1" %}
                                <i class="text-success bi bi-check-circle-fill"></i> {% elif p.status == "2" %}
                                <i class="text-warning bi bi-check-circle-fill"></i> {% elif p.status == "3" %}
                                <i class="text-success bi bi-clipboard-check-fill"></i> {% endif %} {{p.getStatus}}
                            </p>
                            <p class="m-0 p-0"><i class="bi bi-calendar-date"></i> {{ p.data_publicacao }}</p>
                        </p>
                        {% if p.status == "0" and edicao %}
                        <a href="{% url 'EditarPost' p.UID %}" class="btn btn-warning w-100">Editar</a> {% else %}
                        <a href="{% url 'Post' p.UID %}" class="btn btn-success w-100">Saiba Mais</a> {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} {% block page_script %} {% endblock %}