{% extends 'base.html' %}

{% block page_head %}
{% endblock %}

{% block page %}
    <div class="container-fluid bg bg-success py-3 bg-opacity-50">
        <div class="container py-2">
            <div class="titulo w-100 py-2 d-flex align-items-start flex-column">
                <h3 class="fs-1 px-1 my-0 text-light" style="font-family: fantasy; letter-spacing: 1.5px;">{{post.titulo}}</h3>
                <div class="linha w-50 bg bg-light" style="height: 3px;"></div>
                <p name="resumo" class="edit-resumo fs-5 px-1 my-0 text-light">{{post.resumo}}</p>
            </div>
        </div>
    </div>
    {{post.conteudo | safe }}

{% endblock %}

{% block page_script %}
{% endblock %}